body {
    font-family: Arial, sans-serif;
    background-color: rgb(197, 235, 231);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(125, 240, 211);
    
}

header h1 {
    margin: 0;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

#about {
    display: flex;
    padding: 20px;
}

#about img {
    border-radius: 50%;
    width: 150px;
    margin-right: 20px;
}


.work-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.work-item {
    width: 100%;
    margin-bottom: 20px;
}

.work-item img {
    width: 100%;
    height: auto;
}

.first-project img {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .work-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

